.resume.box-shadow {
  width: 800px;
  min-height: 1100px;
  margin: auto;
  background: #f5f5f5;
  font-family: "Poppins", sans-serif;
}

.top-header {
  background: #ff8f00;
  color: white;
  padding: 30px;
}

.body { display: flex; }

.left-panel {
  width: 30%;
  background: #ffffff;
  padding: 30px 20px;
}

.right-panel {
  width: 70%;
  padding: 35px;
}

.side-section,
.main-section {
  background: white;
  padding: 15px;
  margin-bottom: 18px;
  border-radius: 10px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}
p:empty,
ul:empty {
  display: none;
}