<div class="resume box-shadow" style="width:800px;min-height:1100px;background:#f5f5f5;">

  <header class="top-header" style="background:#ff8f00;color:white;">
    <h1 id="previewName">Rathod Mihir</h1>
    <p id="previewTitle">Java Developer</p>
  </header>

  <div class="body">

    <aside class="left-panel" style="background:#fff;">
      <div class="photo"></div>

      <section class="side-section">
        <h3>CONTACT</h3>
        <p id="previewEmail"></p>
        <p id="previewPhone"></p>
        <p id="previewLocation"></p>
      </section>


      <section class="side-section">
        <h3>CERTIFICATIONS</h3>
        <ul id="pCerts"><li>Java Programming</li></ul>
      </section>

      <section class="side-section">
        <h3>LANGUAGES</h3>
        <ul id="pLanguages"></ul>
      </section>


    </aside>

    <main class="right-panel">

      <section class="main-section">
        <h3>PROFILE</h3>
        <p id="previewSummary">
          Results-oriented developer with strong problem-solving skills.
        </p>
      </section>

      <section class="main-section">
        <h3>SKILLS</h3>
        <ul id="previewSkills"><li>Java</li><li>DSA</li><li>SQL</li></ul>
      </section>

      <section class="main-section" id="educationSection">
        <h3>EDUCATION</h3>

        <p>
          <strong id="previewDegree"></strong><br>
          <span id="previewField"></span><br>
          <span id="previewEduInstitute"></span>,
          <span id="previewEduLocation"></span><br>
          <span id="previewGraduation"></span>
        </p>

        <ul id="previewEduDetails"></ul>
      </section>
      <section class="main-section" id="previewExperienceSection" style="display:none">
        <h3>WORK EXPERIENCE</h3>

        <div id="previewExperienceList">
          <p>
            <strong id="previewExpTitle"></strong><br>
            <span id="previewExpCompany"></span><br>
            <span id="previewExpLocation"></span><br>
            <span id="previewExpDuration"></span>
          </p>

          <ul id="previewExpDesc"></ul>
        </div>
      </section>


    </main>
  </div>
</div>
