.resume.timeline-resume {
  width: 820px;
  box-shadow: 0 20px 50px rgba(0,0,0,.2);
  font-family: "Segoe UI", sans-serif;
}

.timeline-resume .top-header {
  background: #263238;
  color: white;
  padding: 30px;
}

.timeline-resume .left-panel {
  background: #eceff1;
  width: 28%;
}

.timeline-resume .timeline {
  border-left: 3px solid #263238;
  padding-left: 20px;
}

.timeline-resume .timeline div {
  margin-bottom: 20px;
  position: relative;
}

.timeline-resume .timeline div::before {
  content: "";
  position: absolute;
  left: -28px;
  top: 5px;
  width: 12px;
  height: 12px;
  background: #263238;
  border-radius: 50%;
}
