<div class="resume clean-profile" style="width:800px;min-height:1100px;">

  <!-- LEFT COLUMN -->
  <aside class="left">
    <div class="photo"></div>

    <section class="block">
      <h3>CONTACT</h3>
      <p id="previewPhone">+91 9876543210</p>
      <p id="previewEmail">john@example.com</p>
      <p id="previewLocation">City, State</p>
    </section>

    <section class="block">
      <h3>LANGUAGES</h3>
      <ul id="pLanguages"></ul>
    </section>

    <section class="block">
      <h3>CERTIFICATES</h3>
      <ul id="pCerts"></ul>
    </section>

  </aside>

  <!-- RIGHT COLUMN -->
  <main class="right">
    <header class="header">
      <h1 id="previewName">Akash Sharma</h1>
      <h2 id="previewTitle">Web Developer</h2>
    </header>

    <section class="section">
      <h3>SUMMARY</h3>
      <p id="previewSummary">
        Motivated web developer with strong skills in HTML, CSS and JavaScript.
        Passionate about building responsive and user-friendly web applications.
      </p>
    </section>

    <section id="educationSection" class="section">
      <h3>EDUCATION</h3>

      <p>
        <strong id="previewDegree"></strong><br>
        <span id="previewField"></span><br>
        <span id="previewEduInstitute"></span>,
        <span id="previewEduLocation"></span><br>
        <span id="previewGraduation"></span>
      </p>

      <ul id="previewEduDetails"></ul>
    </section>

    <section id="previewExperienceSection" class="section" style="display:none">
      <h3>EXPERIENCE</h3>
      <div id="previewExperienceList"></div>
    </section>

<!--    <section class="section">-->
<!--      <h3>PROJECTS</h3>-->
<!--      <div id="previewProjects"></div>-->
<!--    </section>-->


    <section class="section">
      <h3>SKILLS</h3>
      <ul id="previewSkills">
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
      </ul>
    </section>
  </main>

</div>
