.resume.ultra-clean {
  width: 800px;
  min-height: 1100px;
  margin: auto;
  font-family: "Segoe UI", sans-serif;
  background: #ffffff;
}

.top-header {
  border-bottom: 2px solid #000;
  padding: 25px;
  background: none;
  color: black;
}

.right-panel {
  padding: 40px;
}

.main-section h3 {
  border-bottom: 1px solid #000;
  padding-bottom: 4px;
  font-weight: 600;
}
