<div class="resume blue-corporate" style="width:800px;min-height:1100px;">

  <!-- TOP HEADER -->
  <header class="top-header">
    <h1 id="previewName">Rathod Mihir</h1>
    <p id="previewTitle">Java Developer</p>
  </header>

  <div class="body">

    <!-- LEFT SIDEBAR -->
    <aside class="left-panel">

      <div class="photo"></div>

      <section class="side-section">
        <h3>CONTACT</h3>
        <p id="previewPhone">+91 9876543210</p>
        <p id="previewEmail">mihir@email.com</p>
        <p id="previewLocation">Ahmedabad, India</p>
      </section>

      <section class="side-section">
        <h3>CERTIFICATIONS</h3>
        <ul id="pCerts">
          <li>Java Programming</li>
          <li>Web Development</li>
        </ul>
      </section>

      <section class="side-section">
        <h3>LANGUAGES</h3>
        <ul id="pLanguages"></ul>
      </section>

    </aside>

    <!-- RIGHT CONTENT -->
    <main class="right-panel">

      <section class="main-section">
        <h3>PROFESSIONAL SUMMARY</h3>
        <p id="previewSummary">
          Motivated software developer with strong fundamentals in Java and problem-solving skills.
        </p>
      </section>

      <section class="main-section">
        <h3>KEY SKILLS</h3>
        <ul id="previewSkills">

        </ul>
      </section>

      <section class="main-section" id="educationSection">
          <h3>EDUCATION</h3>

          <ul>
            <li>
              <strong id="previewDegree"></strong><br>
              <span id="previewField"></span><br>
              <span id="previewEduInstitute"></span>,
              <span id="previewEduLocation"></span><br>
              <span id="previewGraduation"></span>
            </li>
          </ul>

          <ul id="previewEduDetails"></ul>
        </section>


      <section class="main-section" id="previewExperienceSection" style="display:none">
        <h3>WORK EXPERIENCE</h3>
        <div id="previewExperienceList">
          <div class="exp-item">
            <strong id="previewExpTitle"></strong><br>
            <span id="previewExpCompany"></span><br>
            <span id="previewExpLocation"></span><br>
            <span id="previewExpDuration"></span>
            <ul id="previewExpDesc"></ul>
          </div>
        </div>

      </section>

    </main>
  </div>
</div>
