<div class="resume academic-yellow" style="width:800px;min-height:1100px;">

  <!-- TOP HEADER -->
  <header class="top-header">
    <h1 id="previewName"></h1>
    <p id="previewTitle"></p>
  </header>

  <div class="body">

    <!-- LEFT SIDEBAR -->
    <aside class="left-panel">

      <div class="photo"></div>

      <section class="side-section">
        <h3>CONTACT</h3>
        <p id="previewPhone"></p>
        <p id="previewEmail"></p>
        <p id="previewLocation"></p>
      </section>

      <section class="side-section">
        <h3>CERTIFICATIONS</h3>
        <ul id="pCerts"></ul>
      </section>

      <section class="side-section">
        <h3>LANGUAGES</h3>
        <ul id="pLanguages"></ul>
      </section>

    </aside>

    <!-- RIGHT CONTENT -->
    <main class="right-panel">

      <section class="main-section">
        <h3>CAREER OBJECTIVE</h3>
        <p id="previewSummary"></p>
      </section>

      <!-- SKILLS -->
      <section class="main-section" id="skillsSection">
        <h3>SKILLS</h3>
        <ul id="previewSkills"></ul>
      </section>


      <!-- EDUCATION -->
      <section class="main-section" id="educationSection">
        <h3>EDUCATION</h3>

        <div class="edu-item">
          <p id="previewDegree"></p>
          <p id="previewField"></p>
          <p id="previewEduInstitute"></p>
          <p id="previewEduLocation"></p>
          <p id="previewGraduation"></p>
          <ul id="previewEduDetails"></ul>
        </div>
      </section>


      <!-- EXPERIENCE -->
      <section class="main-section" id="previewExperienceSection" style="display:none">
        <h3>EXPERIENCE</h3>
        <div id="previewExperienceList">
          <div class="exp-item">
            <p id="previewExpTitle"></p>
            <p id="previewExpCompany"></p>
            <p id="previewExpLocation"></p>
            <p id="previewExpDuration"></p>
            <ul id="previewExpDesc"></ul>
          </div>
        </div>

      </section>

    </main>

  </div>
</div>
