<div class="resume classic-serif" style="width:800px;min-height:1100px;font-family:'Times New Roman',serif;">

  <header class="top-header" style="background:#5d4037;color:white;">
    <h1 id="previewName">Rathod Mihir</h1>
    <p id="previewTitle">Java Developer</p>
  </header>
  <section class="main-section">
    <h3>CONTACT</h3>
    <p id="previewEmail"></p>
    <p id="previewPhone"></p>
    <p id="previewLocation"></p>
  </section>
  <main class="right-panel">

    <section class="main-section">
      <h3>SUMMARY</h3>
      <p id="previewSummary">
        Hard-working software developer with solid academic background.
      </p>
    </section>

    <section class="main-section">
      <h3>SKILLS</h3>
      <ul id="previewSkills"><li>Java</li><li>OOP</li><li>SQL</li></ul>
    </section>

    <section class="main-section" id="educationSection">
      <h3>EDUCATION</h3>

      <p>
        <strong id="previewDegree"></strong><br>
        <span id="previewField"></span><br>
        <span id="previewEduInstitute"></span>,
        <span id="previewEduLocation"></span><br>
        <span id="previewGraduation"></span>
      </p>

      <ul id="previewEduDetails"></ul>
    </section>
    <section class="main-section">
      <h3>LANGUAGES</h3>
      <ul id="pLanguages"></ul>
    </section>
    <section class="main-section">
      <h3>CERTIFICATIONS</h3>
      <ul id="pCerts"></ul>
    </section>

    <section class="main-section" id="previewExperienceSection" style="display:none">
      <h3>WORK EXPERIENCE</h3>

      <div id="previewExperienceList">
        <p>
          <strong id="previewExpTitle"></strong><br>
          <span id="previewExpCompany"></span><br>
          <span id="previewExpLocation"></span><br>
          <span id="previewExpDuration"></span>
        </p>

        <ul id="previewExpDesc"></ul>
      </div>
    </section>


  </main>
</div>
