.resume.card-layout {
  width: 820px;
  background: #f4f6f8;
  font-family: "Poppins", sans-serif;
}

.card-layout .top-header {
  background: #ff7043;
  color: white;
  padding: 30px;
}

.card-layout .main-section,
.card-layout .side-section {
  background: white;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 12px;
  box-shadow: 0 8px 18px rgba(0,0,0,.12);
}
